
// selected works @ kuler.adobe.com

$darkerbg_color: #444;
$lighterbg_color: #037E8C;
$darktext_color: #404040;
$lighttext_color: #F2EFE9;
$highlight_color: #F2CA59;

// copy of cubbage @ kuler.adobe.com

// $darkerbg_color: #2A535C;
// $lighterbg_color: #60918E;
// $darktext_color: #1C2121;
// $lighttext_color: #FAF4D9;
// $highlight_color: #E8CD6E;

$bg_texture: url("../images/texture.png");

$jumbotron_font: 'Inder';

body {
	background-color: #fff;
	font-family: 'Open Sans';
	padding-top: 70px;
	color: $darktext_color;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}


// navbar custom styles

.navbar-default {
	border-bottom: solid 2px $darkerbg_color;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333;
	background-color: #EEE;
}

.navbar-default .navbar-nav > .active > a,  
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: $lighttext_color;
	background-color: $darkerbg_color;
}

.navbar-default .navbar-nav > li > ul > .active > a,
.navbar-default .navbar-nav > li > ul > .active > a:hover,
.navbar-default .navbar-nav > li > ul > .active > a:focus {
        color: $lighttext_color;
        background-color: $darkerbg_color;
}



h4 {
	font-family: $jumbotron_font;
	color: $darkerbg_color;
}




.jumbotron {
	background-color: $darkerbg_color;
	background: $bg_texture;
	color: $lighttext_color;
	padding: 0px 15px 15px 15px; 
	font-family: $jumbotron_font;
	margin-bottom: 20px;

	h1 {
		border-bottom: 3px solid $highlight_color;
		padding-bottom: 13px;
	}

	h3 {
		color: $lighttext_color;
		border: none;
	}
}

h3 {
	font-family: $jumbotron_font;
	color: $darkerbg_color;
	border-bottom: solid 1px $highlight_color;
	padding-bottom: 10px;
	margin-top: 5px;
}

h3.panel-title {
	text-transform: uppercase;
	border: none;
	padding-bottom: 0px;
}



// general classes

.well {
	border-top: solid 2px $darkerbg_color;
}

.label-default {
	background-color: #999;
}

.footer {
	padding-top: 19px;
	color: #aaa;
	border-top: 1px solid #ccc;
}

.year {
	font-size: 100%;
	color: #777;
}

td.year {
	width: 150px;
}

p.website-desc {
	padding-top: 10px;
	padding-bottom: 10px;
}

.tags {
	border-top: solid 1px #ddd;
	padding-top: 8px;
	line-height: 200%;
}

.wide {
	letter-spacing: 0.2em;
}

img {
	border-radius: 5px;
	border: solid 1px #ccc;
}

img.profile {
	width: 200px;
}

.website-images {
	margin-top: 10px;
}

.blue {
	color: #3ba1bf;
}

// ng-animate styles

.fade-in.ng-enter {
    -webkit-animation: fadeIn 0.1s;
    -moz-animation: fadeIn 0.1s;
    -ms-animation: fadeIn 0.1s;
    animation: fadeIn 0.1s;
}

.tag.ng-enter {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}
.tag.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}

// ui.bootstrap hack

// .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
