<div class="row well">
	<div class="col-lg-12 col-md-12">
		<h3>CV - in English</h3>
		<br>

		<!-- Koulutus -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Education</h3>
			</div>
			
			<table class="table">
				<tr><td class="year">2008 – 2010</td><td><b>Finnish Aviation Academy</b>, professional pilot</td></tr>
				<tr><td class="year">2000 -></td><td><b>University of Helsinki</b>, computer science <span id="info" class="glyphicon glyphicon-info-sign blue" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Studied at the University of Helsinki in 2000 – 2006 at the computer science department. 
				About half of the required studied were finished before moving on to aviation."></span></td></tr>
				<tr><td class="year">1996 – 1999</td><td><b>Espoonlahti college</b>, graduate</td></tr> 
			</table>			
			<script type="text/javascript">$('#info').popover()</script>
		</div>

		<!-- Työkokemus -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Experience</h3>
			</div>			
			<table class="table">
				<tr><td class="year">02/2013 =></td><td><b>DNA Oy</b>, testing specialist</td></tr>
				<tr><td class="year">05/2012 – 09/2012</td><td><b>Swissport Finland Oy</b>, ramp handler</td></tr>
				<tr><td class="year">06/2010 – 03/2012</td><td><b>DNA Oy</b>, delivery coordinator</td></tr>
				<tr><td class="year">08/2008 – 09/2008</td><td><b>DNA Oy</b>, order handler</td></tr>
				<tr><td class="year">05/2006 – 04/2008</td><td><b>DNA Finland Oy</b>, project coordinator</td></tr>
				<tr><td class="year">07/2005 – 12/2005</td><td><b>DNA Finland Oy</b>, contract handler (Eilakaisla Oy)</td></tr>
				<tr><td class="year">04/2004 – 06/2004</td><td><b>Finnish Society for Futures Studies</b>, web-designer</td></tr>
				<tr><td class="year">05/2003 – 06/2003</td><td><b>Moskito Television Oy</b>, catering</td></tr>
				<tr><td class="year">06/2002 – 09/2002</td><td><b>Helsinki University of Technology</b>, office secretary, student offices</td></tr>
				<tr><td class="year">05/2001 – 10/2001</td><td><b>Helsinki University of Technology</b>, office secretary, student offices</td></tr>
				<tr><td class="year">07/1999 – 09/1999</td><td><b>Helsinki University of Technology</b>, office secretary, student offices</td></tr>
				<tr><td class="year">1996 – 1998</td><td><b>Finnish Society for Futures Studies</b>, camp counselor during summers</td></tr>
			</table>
			
		</div>

		<!-- Muu työkokemus -->
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Other experience</h3>
			</div>
			<div class="panel-body">
				Developed websites with HTML, CSS, PHP, MySQL, jQuery. See <a href="#/websites">Websites</a>. <br>
				A few jobs with warehouse and moving companies. 
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Certificates</h3>
			</div>
			<table class="table">
				<tr><td class="year">05/2013</td><td>ISTQB Certified Tester, foundation level</td></tr>
			</table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Languages</h3>
			</div>
			<table class="table">
				<tr><td class="year">Finnish</td><td>native speaker</td></tr>
				<tr><td class="year">English</td><td>excellent</td></tr>
				<tr><td class="year">Swedish</td><td>average</td></tr>
				<tr><td class="year">Danish</td><td>average</td></tr>
				<tr><td class="year">German</td><td>basics</td></tr>
			</table>
		</div> 

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Positions of trust</h3>
			</div>
			<table class="table">
				<tr><td class="year">2009 - 2010</td><td><b>Finnish Aviation Academy's Student Union</b>, Member of the Board</td></tr>
				<tr><td class="year">2008 - 2010</td><td><b>Finnish Aviation Academy</b>, course's elder student</td></tr>
				<tr><td class="year">2004 - 2006</td><td><b>Helsinki University of Technology</b>, secretary</td></tr>
				<tr><td class="year">2001 - 2003</td><td><b>Espoo Ultimate Club</b>, secretary</td></tr>
			</table>
		</div> 

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Civil service</h3>
			</div>
			<table class="table">
				<tr><td class="year">10/1999 – 11/2000</td><td><b>Helsinki University of Technology</b>, office secretary, student offices</td></tr>
			</table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Hobbies</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>wall climbing</li>
					<li>disc golf</li>
					<li>music</li>
					<li>cycling</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">I get a kick out of</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Learning new things</li>
					<li>Solving problems</li>
					<li>Small everyday successes</li>
					<li>Enthusiastic people</li>
					<li>Teams that truly work together</li>
					<li>Agile processes, continuous QA, test automation</li>
				</ul>

			</div>
		</div>


	</div>
</div>
