<div class="row well">
	<div class="col-lg-12 col-md-12">
		<h3>CV - suomeksi</h3>
		<br>

		<!-- Koulutus -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Koulutus</h3>
			</div>
			
			<table class="table">
				<tr><td class="year">2008 – 2010</td><td><b>Suomen Ilmailuopisto</b>, ammattilentäjä</td></tr>
				<tr><td class="year">2000 -></td><td><b>Helsingin yliopisto</b>, tietojenkäsittelytieteen laitos <span id="info_fi" class="glyphicon glyphicon-info-sign blue" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Opiskelin 2000 – 2006 Helsingin yliopistolla pääaineena tietojenkäsittelytiede. Opinnot jäivät noin puoleen väliin, kun päätin hakeutua ilmailualalle ja opiskelemaan Suomen 
				Ilmailuopistoon. Opiskeluoikeus on vielä voimassa.."></span></td></tr>
				<tr><td class="year">1996 – 1999</td><td><b>Espoonlahden lukio</b>, ylioppilas </td></tr> 
			</table>	
			<script type="text/javascript">$('#info_fi').popover()</script>		
		</div>

		<!-- Työkokemus -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Työkokemus</h3>
			</div>			
			<table class="table">
				<tr><td class="year">02/2013 =></td><td><b>DNA Oy</b>, testausasiantuntija</td></tr>
				<tr><td class="year">05/2012 – 09/2012</td><td><b>Swissport Finland Oy</b>, lentokonekuormaaja</td></tr>
				<tr><td class="year">06/2010 – 03/2012</td><td><b>DNA Oy</b>, toimituskoordinaattori</td></tr>
				<tr><td class="year">08/2008 – 09/2008</td><td><b>DNA Oy</b>, tilauskäsittelijä</td></tr>
				<tr><td class="year">05/2006 – 04/2008</td><td><b>DNA Finland Oy</b>, projektikoordinaattori</td></tr>
				<tr><td class="year">07/2005 – 12/2005</td><td><b>DNA Finland Oy</b>, sopimuskäsittelijä (Eilakaisla Oy)</td></tr>
				<tr><td class="year">04/2004 – 06/2004</td><td><b>Viestintäkasvatuksen seura ry</b>, web-suunnittelija</td></tr>
				<tr><td class="year">05/2003 – 06/2003</td><td><b>Moskito Television Oy</b>, catering</td></tr>
				<tr><td class="year">06/2002 – 09/2002</td><td><b>Teknillinen korkeakoulu</b>, toimistosihteeri, opintotoimisto</td></tr>
				<tr><td class="year">05/2001 – 10/2001</td><td><b>Teknillinen korkeakoulu</b>, toimistosihteeri, opintotoimisto</td></tr>
				<tr><td class="year">07/1999 – 09/1999</td><td><b>Teknillinen korkeakoulu</b>, toimistosihteeri, opintotoimisto</td></tr>
				<tr><td class="year">1996 – 1998</td><td><b>Viestintäkasvatuksen seura ry</b>, leiriohjaaja kesäisin</td></tr>
			</table>
			
		</div>

		<!-- Muu työkokemus -->
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Muu työkokemus</h3>
			</div>
			<div class="panel-body">
				Toteutettu kotisivuja käyttäen tekniikoita 
				HTML, CSS, PHP, MySQL, jQuery. Katso <a href="#/websites">Websites</a>.<br>
				Työkeikkoja varasto- ja muuttohommissa. 
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sertifikaatit</h3>
			</div>
			<table class="table">
				<tr><td class="year">05/2013</td><td>ISTQB Sertifioitu Testaaja, perustaso</td></tr>
			</table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Kielitaito</h3>
			</div>
			<table class="table">
				<tr><td class="year">suomi</td><td>äidinkieli</td></tr>
				<tr><td class="year">englanti</td><td>erinomainen</td></tr>
				<tr><td class="year">ruotsi</td><td>tyydyttävä</td></tr>
				<tr><td class="year">tanska</td><td>tyydyttävä</td></tr>
				<tr><td class="year">saksa</td><td>alkeet</td></tr>
			</table>
		</div> 

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Luottamustoimet</h3>
			</div>
			<table class="table">
				<tr><td class="year">2009 - 2010</td><td><b>Suomen Ilmailuopiston Oppilasyhdistys ry</b>, hallituksen jäsen</td></tr>
				<tr><td class="year">2008 - 2010</td><td><b>Suomen Ilmailuopisto</b>, lentäjäkurssin kurssinvanhin</td></tr>
				<tr><td class="year">2004 - 2006</td><td><b>Viestintäkasvatuksen seura ry</b>, sihteeri</td></tr>
				<tr><td class="year">2001 - 2003</td><td><b>Espoo Ultimate Club ry</b>, sihteeri</td></tr>
			</table>
		</div> 

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Siivilipalvelus</h3>
			</div>
			<table class="table">
				<tr><td class="year">10/1999 – 11/2000</td><td><b>Teknillinen korkeakoulu</b>, toimistosihteeri, opintotoimisto</td></tr>
			</table>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Harrastukset</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>seinäkiipeily</li>
					<li>frisbeegolf</li>
					<li>musiikki</li>
					<li>pyöräily</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Mistä saan kiksejä</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>Uuden oppiminen</li>
					<li>Ongelmien ratkaisu</li>
					<li>Pienet jokapäiväiset onnistumiset </li>
					<li>Omasta asiastaan innostuneet ihmiset</li>
					<li>Tiimit, jotka tekevät hommia aidosti yhdessä</li>
					<li>Ketterät prosessit, jatkuva laadunvarmistus, testiautomaatio</li>
				</ul>

			</div>
		</div>


	</div>
</div>
