<div class="row well">
	<div class="col-lg-6 col-md-6">
		<h3>Welcome, my friend!</h3>
		<p>Some diibadaaba about me and this site.</p>
		<ul>
			<li>Linkedin: <a href="https://www.linkedin.com/pub/atte-tanskanen/80/a6/727">Atte Tanskanen</a></li>
			<li>Github: <a href="https://github.com/avtanska/">avtanska</a></li>
			<li>Twitter: <a href="https://twitter.com/attetanskanen">@avtanska</a></li>
		</ul>
	</div>

	<div class="col-lg-6 col-md-6">
		<img class="profile pull-right" src="https://media.licdn.com/media/p/3/005/055/030/028e0bb.jpg" alt="Atte Tanskanen">
	</div>
</div>
