<div class="row well">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<h3>Welcome, my friend!</h3>
		<p class="website-desc">
			This website presents some of my web development related stuff together with my CV and other interests.
			The site was created quickly in a few days to gather everything in one place.
		</p>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6 text-center">
		<img class="profile website-images" src="https://media.licdn.com/media/p/3/005/055/030/028e0bb.jpg" alt="Atte Tanskanen">
	</div>
</div>
