<div class="row well">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<h3>Welcome, my friend!</h3>
		<p class="website-desc">
			This website presents some of my web development related stuff together with my CV and other interests.
			The site was created quickly in a few days to gather everything in one place. In other words, it's not perfect. :)
		</p>
		<p>Social meeedia:</p>
		<ul>
			<li>Linkedin: <a href="https://www.linkedin.com/pub/atte-tanskanen/80/a6/727">Atte Tanskanen</a></li>
			<li>Github: <a href="https://github.com/avtanska/">avtanska</a></li>
			<li>Twitter: <a href="https://twitter.com/attetanskanen">@avtanska</a></li>
		</ul>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6 text-center">
		<img class="profile website-images" src="https://media.licdn.com/media/p/3/005/055/030/028e0bb.jpg" alt="Atte Tanskanen">
	</div>
</div>
