<div class="row well">
	<div class="col-lg-10 col-md-10">

		<h3>Interests</h3>

		<p class="website-desc">Eager to learn anything and everything related to web development. :) <br>
		I could write a novel about all things that get me exited but below are just a few of them.</p>


		<h4>Test automation</h4>

		<p>Currently at DNA besides normal user acceptance and regression testing management I'm researching options to implement test automation
		for automating acceptance testing on top of web based GUIs. I've done some small scale automation scripts with Robot Framework + Selenium (Python) and just tested out CasperJS for data scraping. I have some experience with Sikuli which is a Jython based automation tool based on image recognition.
		Maintained and created scripts with QuickTest Professional and VBScript some time back.</p>


		<h4>TDD</h4>

		<p>Only starting to learn about TDD in practice but I love the concept and the confidence that the green color gives when all the tests are passing. Still have a lot to learn but I'm ready to make it happen.</p>


		<h4>User interfaces</h4>

		<p>A smooth user experience is the key to a successful site or application.</p>


		<h4>System design</h4>
	</div>

	<div class="col-lg-2 col-md-2">
		
	</div>
</div>
