<div class="row well">
	<div class="col-lg-10 col-md-10">
		<h3>Interests</h3>
		<p class="website-desc">Eager to learn everything related to web development. :)</p>
		<h4>Test automation</h4>
		<p>Currently at DNA I'm researching options to implement test automation
		for automating acceptance testing on top of web based GUIs. I've done some small scale automation scripts with Robot Framework + Selenium (Python) and just tested out CasperJS for data scraping. Some experience with Sikuli which is a Jython based automation tool based on image recognition.
		Maintained and created scripts with QuickTest Professional and VBScript.</p>
	</div>

	<div class="col-lg-2 col-md-2">
		
	</div>
</div>
