<div class="row well">
	<div class="col-lg-10 col-md-10">

		<h3>Interests</h3>

		<p class="website-desc">Eager to learn anything and everything related to web development. :) <br>
		I could write a novel about all things that get me exited but below are just a few of them. Will be adding more stuff here.</p>


		<h4>Test automation</h4>

		<p>Currently at DNA besides normal user acceptance and regression testing management I'm researching options to implement test automation
		for automating acceptance testing on top of web based GUIs. I've done some small scale automation scripts with Robot Framework + Selenium (Python) and just tested out CasperJS for data scraping. I have some experience with Sikuli which is a Jython based automation tool based on image recognition.
		Maintained and created scripts with QuickTest Professional and VBScript some time back.</p>


		<h4>TDD</h4>

		<p>Only starting to learn about TDD in practice but I love the concept and the confidence that the green color gives when all the tests are passing. Still have a lot to learn but I'm ready to make it happen.</p>

		<h4>CI, CD</h4>

		<p>Continuous integration or deployment or delivery is the only way to do development. Or so I've heard. :) Unfortunately I haven't had the pleasure to work in such environments yet but to learn new things I've setup Atlassian Bamboo and Jenkins at home to play around with. Then setup a small scale regression test automation suite to trigger when changes to the tests are committed to a Git repo.

		<h4>User interfaces</h4>

		<p>A smooth user experience is the key to a successful site or application.</p>


	</div>

	<div class="col-lg-2 col-md-2">
		
	</div>
</div>
