<div ng-controller="WebsitesCtrl" data-spy="scroll" data-target=".navbar-example">
	<div class="row well websites" ng-repeat="website in websites">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h3 id="{{website.id}}">{{website.url}}</h3>
			<p class="year">{{website.year}}</p>
			<p class="website-desc">{{website.description}}</p>
			<div class="tags">
				<span class="tag" ng-repeat="tag in website.tags">
					<span class="label label-default">{{tag}}</span>
				</span>

			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="website-images">
				<div ng-repeat="image in website.images">
					<a href="http://{{website.url}}"><img ng-src="images/{{image}}"></a>
				</div>
			</div>

		</div>
	</div>
</div>
